@use 'parts/partial' as *;

@import url('imported.css');

@property --percentage {
	inherits: false;
	initial-value: 0%;
	syntax: '<percentage>';
}

html {
	color: $color;
	font-family: sans-serif;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
}

@container test (max-width: 100px) {
	p {
		outline: 1px solid;
	}
}
